$font-heading: Bebas Neue, cursive;
$font-body: Abel, sans-serif;
$nav-color: #545e56;
$form-color: #eae1df;
$order-color: #917c78;

body {
  margin: 0;
}

#restaurant-nav {
  background-color: $nav-color;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.restaurant-nav-title {
  font-family: $font-heading;
  font-size: 55px;
  margin-top: 15px;
  margin-left: 15px;
}

.restaurant-login-button {
  font-family: $font-body;
  font-size: 40px;
  margin-top: 25px;
  margin-right: 20px;
}

.restaurant-login-form-holder {
  display: flex;
  justify-content: flex-end;
}

.restaurant-login-form {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  background-color: $form-color;
}

/* ORDER SECTION STARTS HERE */

#restaurant-order-container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

/* draggable css */

.restaurant-fill {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  background-color: $order-color;
  border: none;
  cursor: pointer;

  h6 {
    font-size : 10px;

  }
}

.restaurant-empty {
  display: inline-block;
  border: 2px solid black;
  height: 130px;
  width: 80%;
  margin-bottom: 80px;
  align-self: center;
  padding: 20px;

}

.hold {
  border: solid lightgrey 4px;
}

.hovered {
  background: #f4f4f4;
  border-style: dashed;
}

.invisible {
  display: none;
}




