@import '../base';

body {
  margin: 0;
  background-color: $form-color;
  padding-bottom: 40px;
}

#restaurant-nav {
  background-color: $c1;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.restaurant-nav-title {
  font-family: $font-heading;
  font-size: 55px;
  margin-top: 15px;
  margin-left: 15px;
}

.restaurant-login-button {
  font-family: $font-body;
  font-size: 40px;
  margin-top: 25px;
  margin-right: 20px;
}

.restaurant-login-form-holder {
  display: flex;
  justify-content: flex-end;
}

.restaurant-login-form {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  background-color: $form-color;
}

/* ORDER SECTION STARTS HERE */

#restaurant-order-container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;

  h2 {
    color: $c2;
  }
}

h2 {
  font-family: $font-body;
  align-items: flex-start;
  margin-left: 10%;
}

/* draggable css */

.restaurant-empty {
  border: 2px solid $c2;
  height: 130px;
  width: 80%;
  border-radius: 3px;
  align-self: center;
  padding: 20px;
  overflow: auto;
}

.restaurant-fill {
  display: grid;
  padding: 0px 10px;
  grid-template-columns: 15% 15% 30% 15% 15% 10%;
  grid-template-rows: 50% 50%;
  justify-content: space-evenly;
  margin: 10px auto;
  background-color: $c4;
  border-radius: 13px;
  cursor: pointer;
  box-shadow: inset 0px 0px 3px 3px $c3,
              0px 0px 1px 1px $c3;

  h6 {
    font-size : 10px;
  }
}

.restaurant-empty {
  display: inline-block;
  border: 2px solid black;
  height: 600px;
  width: 80%;
  border-radius: 3px;
  align-self: center;
  padding: 20px;
  overflow: auto;
}

.hold {
  border: solid lightgrey 4px;
}

.hold2 {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  background-color: $order-color;
  border-radius: 35px;
  cursor: pointer;

  h6 {
    font-size : 10px;
  }
}

.hovered {
  background: #f4f4f4;
  border-style: dashed;
}

.invisible {
  display: none;
}




