<!DOCTYPE html>
<html>
<head>
  <link type="text/css" href="styles/user/user.css" rel="stylesheet">
  <script src="scripts/user/user.js"></script>
</head>
<body>
<!-- nav bar for homepage -->


<nav class="user-navbar">
  <img class="user-logo">
  <span>About Us</span>
  <span>Menu</span>
  <span>Reservation</span>
  <span>Contact Us</span>
</nav>

<!-- login/sign up button when not log in -->
<!-- username and shopping cart when log in -->

<nav class="user-access">
  <span class="user-login">Login</span>
  <span class="user-signup">Sign Up</span>
</nav>

<!-- homepage photo -->
<img class="user-staticphoto" src="../../public/resources/static_photo.jpeg">

<!-- login/register popup form -->

<div class="user-login-form">
  <input type="email" placeholer="Email Address"></input>
  <input type="password" placeholer="Password"></input>
  <button type="button">Log In</button>
</div>

<div class="user-register-form">
    <input type="email" placeholer="Email Address"></input>
    <input type="password" placeholer="Password"></input>
    <button type="button">Register</button>
</div>

<!-- for nav category menu -->
<div>

</div>

<!-- for restaurant full menu -->
<!-- loop through menu table and render -->
<div>

</div>

<h1></h1>
</body>

</html>
