<!DOCTYPE html>
<html>
<head>
  <link type="text/css" href="styles/user/user.css" rel="stylesheet">
  <script src="scripts/user/user.js"></script>
</head>
<body>
<!-- nav bar for homepage -->
<!-- login/sign up button when not log in -->
<!-- username and shopping cart when log in -->
<nav class="user-navbar">

</nav>
<!-- homepage photo -->
<img class="user-staticphoto" src="../../public/resources/static_photo.jpeg">

<!-- for nav category menu -->
<div>

</div>

<!-- for restaurant full menu -->
<!-- loop through menu table and render -->
<div>

</div>

<h1></h1>
</body>

</html>
