<!DOCTYPE html>
<html>
<head>
  <link type="text/css" href="styles/restaurant/restaurant.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="scripts/restaurant/restaurant.js"></script>
  <script src="scripts/restaurant/restaurant-login.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Abel|Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
  <div class="blur"></div>
  
  <nav id="restaurant-nav">
    <a class="restaurant-nav-title" href="#">Thai-Tanic</a>
    <div class="restaurant-login-button">
      <span class="restaurant-login-button-text">Login</span>
    </div>
  </nav>
  <div class="restaurant-login-form-holder">
    <form action="/restaurant/login" method="POST" class="restaurant-login-form">
      <label for="email">Email</label>
      <input class="restaurant-email" type="email" name="email" required>

      <label for="password">Password</label>
      <input class="restaurant-password" type="password" placeholder="Enter Password" required>
      <button type="submit" class="restaurant-login-button-submit">Submit</button>
    </form>
  </div>
    <!--TIME ESTIMATE BOX POP UP-->
    <div class="restaurant-pop-up-holder">
        <div-restaurant class="restaurant-pop-up-form-holder">
          <form class="restaurant-pop-up-form">
            <label>Please enter estimated minutes till ready</label>
            <input type="text" placeholder="time-estimate" class="restaurant-time-data">
            <button id="restaurant-pop-submit" type="submit">Submit</button>
          </form>
        </div>
      </div>
    <!--ORDERS -->
  <div id="restaurant-order-container">
      <div>
          <h2>Completed</h2>
          <div class="container-wrapper">
            <div id="restaurant-complete" class="restaurant-empty">
            </div>
          </div>
        </div>

      <div class="column-switcher">
        <div>
          <h2>Incoming</h2>
          <div class="container-wrapper">
            <div id="restaurant-incoming" class="restaurant-empty" >
            </div>
          </div>
        </div>
        <div>
          <h2>In-progress</h2>
          <div class="container-wrapper">
            <div id="restaurant-in-progress" class="restaurant-empty">
            </div>
          </div>
      </div>
      <div>
        <h2 class="deny-orders">Denied Orders</h2>
        <div class="container-wrapper">
          <div id="restaurant-deny-order" class="restaurant-empty deny-order">
          </div>
        </div>
     </div>
    </div>
  </div>
</body>
</html>
