<!DOCTYPE html>
<html>
<head>
  <link type="text/css" href="styles/restaurant/restaurant.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="scripts/restaurant/restaurant.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Abel|Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
  <nav id="restaurant-nav">
    <a class="restaurant-nav-title" href="#">Thai-Tanic</a>
    <div class="restaurant-login-button">
      <span>Login</span>
    </div>
  </nav>
  <div class="restaurant-login-form-holder">
    <form action="/restaurant/login" method="POST" class="restaurant-login-form">
      <label for="username">Username</label>
      <input type="text" name="username" required>

      <label for="password">Password</label>
      <input type="password" placeholder="Enter Password" required>
      <button type="submit">Submit</button>
    </form>
  </div>
  <div id="restaurant-order-container">
    <div class="restaurant-empty">
      <div draggable="true" class="restaurant-fill">
        <div class="restaurant-name-display">
          <p>Customer name</p>
          <span class="restaurant-customer-id">Batman</span>
        </div>
        <div class="restaurant-time-display">
          <p>Time Placed</p>
          <span class="restaurant-time-started">1:00pm</span>
        </div>
        <div class="restaurant-menu-items">
          <p>Menu Items<p>
          <ul>
            <li>Menu item 1</li>
            <li>Menu item 2</li>
            <li>Menu item 3</li>
          </ul>
        </div>
        <div class="restaurant-phonenumber">
          <p>phone Number</p>
          <span class="restaurant-phone">604-312-1068</span>
        </div>
      </div>
    </div>
    <div class="restaurant-empty">
    </div>
    <div class="restaurant-empty">
    </div>
  </div>
</body>
</html>
