@import '../base';

$base-color: base;

body {
  background-color: #63422E;;
  width: 100%;
  align-content: center;
  color: #fdbb12;
  margin: 0;
}

.user-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 60px;
  background: rgba(67, 44, 4, 0.445);
  box-shadow: 0px 0px 0px 1px rgba(67, 44, 4, 0.445);



  .user-navbar {
    display: grid;
    grid-template-columns: 25% auto 25%;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    font-family: Bebas Neue;
    backdrop-filter: blur(2px);
    .user-email1 {
      font-size: 20px;
    }
    #restaurant-name {
      font-size: 50px;
    }
    // "blank login";
    // Header bar at the top.
  }

  .menu-nav-icon {
    height: 40px;
    width: auto;
    margin: 0 -15px;
  }

  img {
    cursor: pointer;
    height: 40px;
    width: auto;
  }
  .order-cart-icon {
    justify-self: end;
    justify-content: space-evenly;
    .cart[data]:after {
      // position:absolute;
      right: 0%;
      top: 1%;
      content: attr(data);
      font-size: 50%;
      padding: 0.7em;
      border-radius: 50%;
      margin-left: -1.5em;
      line-height: .8em;
      color: #F90308;
      background:#DAD7C7;
      text-align:center;
      min-width:  1em;
      font-weight: bold;

    }
    .total {
      padding-left: -1em;
    }
  }

}

.user-photoheader {

  img {
    width: 100%;
  }
  div {
    z-index: 40;
    top: 200px;
  }
}

.user-logout {
  top: 60px !important;
  left:10px;
  display: flex;
  flex-direction: column;
  position: absolute !important;
  cursor: pointer;
  button {
    width: 100px;
    color: #ffffff;
    background-color: #ca9714;
    border: none;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
  }


}
// Pop up windows for user sign in and sign out.

.user-login-form, .user-signup-form {
  visibility: hidden;
  position: fixed;
  width: 40%;
  left: 30%;
  padding: 15px;
  padding-bottom: 0;
  top:40%;
  height: 120px;
  // display: grid;
  min-width: 40%;
  grid-template-rows: 15% 30% 30% 30%;
  grid-template-columns: 80% 20%;
  grid-template-areas: " blank close"
                        "email blank"
                         "password blank"
                         "signin blank";
  border-radius: 12px;
  background-color: #f9f9f9;
  border: 1px solid black;
  box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.516);
  // border: 1px solid $uc2;
  border-radius: 6px;
  z-index: 9;
  font-family: Bebas Neue;
  cursor: pointer;

  img {
    width: 20px;
    height: 20px;
    float: right;
    margin: 3px;
  }

  // input, button {
  //   // display: block;
  //   width: 70%;
  //   margin: 3px;
  // }

  // button {
  //   color: #f9f9f9;
  //   background-color: #fdbb12;
  //   border-radius: 3px;
  //   padding: 5px 10px;
  //   display: inline-block;
  //   text-decoration: none;
  //   cursor: pointer;
  // }
  .user-close-form {
    grid-area: close;
  }
  .user-email {
    border-radius: 15px;
    grid-area: email;
    padding: 7px 20px;
    width: 80%;
    border: 2px solid black;
    border-radius: 10px;;
    margin-bottom: 2.5px;
  }
  .user-password {
    border-radius: 15px;
    grid-area: password;
    padding: 7px 20px;
    width: 80%;
    border: 2px solid black;
    border-radius: 10px;;
  }
  .user-login-button {
    grid-area: signin;
    color: #f9f9f9;
    background-color: #fdbb12;
    border-color: #ffffff;
    border-radius: 15px;
    padding: 7px 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    background-color: #f9f9f9;
    border: 2px solid black;
    border-radius: 10px;;
    color: #fdbb12;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Bebas Neue;
    margin-top: 2.5px;
  }
}
// This is the x in the corner of the screen for the login box.
.user-close-form {
  grid-area: close;
  width: 15px;
  height: 15px;
}

// Restaurant is confirming your order box.

.order-confirmation {
  visibility: hidden;
  position: fixed;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.516);
  top: 300px;
  background-color: #f9f9f9;
  width: 30%;
  margin-left: 35%;
  height: auto;
  font-family: Bebas Neue;
  font-size: 20px;
  min-width: 40%;

  h2 {
    margin-left: 10px;
  }

  .user-time-confirm {
    margin-left: 10px;
  }
}

//unhide forms

.visible {
  visibility: visible;
}

// Scroll bar styling.

::-webkit-scrollbar {
  width: 10px;
  background: #432C04;
}

::-webkit-scrollbar-track {
  background-color: rgba(136, 89, 62, 0.726);
}

::-webkit-scrollbar-thumb {
  background-color: #432C04;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background-color: #21313f;
}

::-webkit-resizer {
  background-image: url(/resources/resize.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}


