.user-nav-menu {
  position: fixed;
  display: grid;
}
.user-menu {
  background-color: #63422E;
  padding: 15px;
  width: 80%;
  margin: auto;
  // Grid to properly space out menu items.
  .user-menu-table .user-item {
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-areas: "category"
                         "item";
    margin: 10px 0px;
    justify-content: space-between;

    .user-menu-category {
      grid-area: category;
      padding-bottom: 10px;
    }

    .item-card.user-item-add {

      display: grid;
      grid-area: item;
      grid-template-columns: 15% 72% 13%;
      grid-template-areas: "name description price";

      .user-item-name {
        grid-area: name;
      }

      .user-item-description {
        grid-area: description;
      }

      .user-item-price {
        grid-area: price;
        text-align: center;
      }
    }
  }
  
  a {
    display: inline-block;
  }
}