.user-order {
  position: fixed;
  z-index: 6;
  top: 300px;
  display: none;
  margin: 0 auto;
  background: #ffffff;
  width: 500px;
  height: auto;
  margin-bottom: 20px;
  .user-order1 {
    display: flex;
    justify-content: space-between;

  }
  .footer span{
    display: block;
  }
  input {
    display: block;
  }

}