.user-nav-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  background-color: rgba(67, 44, 4, 0.445);
  box-shadow: 0px 0px 0px 1px #63422E;
  opacity: 80%;
  overflow: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding: 5px 10px;
  backdrop-filter: blur(2px);

  span {
    margin: 0px 40px;
    justify-content: center;
    opacity: 100%;
    a {
      text-decoration: none;
      color: #ca9714;
      font-weight: bold;
    }
  }
}

.user-nav-menu::-webkit-scrollbar {
  display: none;
}

.user-header-menu {
  display: none;  //visible when screen > 600px
}

.user-menu {
  background-color: #63422E;
  padding: 15px;
  width: 80%;
  margin: auto;
  cursor: pointer;
  // Grid to properly space out menu items.

  .user-menu-table {  //SN
    margin-bottom: 2.5px;
    padding: 1px 0px;
   }
  .user-menu-table .user-item {
    // display: grid;
    grid-template-areas: "category"
                         "item";
    grid-column: auto-fill;
    margin: 10px 0px;
    justify-content: space-between;

    .user-menu-category {
      grid-area: category;
      font-size: 22px;
      font-weight: bolder;
    }

    .item-card {
      display: grid;
      grid-area: item;
      grid-template-areas: "name price"
                            "desc desc";
      // grid-column: auto-fill;
      background: #281A12;
      border-radius: 3px;
      padding: 10px;

      box-shadow: 0px 1px 0px 1px rgba(40, 26, 18, 0.753),
                  inset 0px 1px 0px rgba(85, 55, 37, 0.753);

      .user-item-name {
        grid-area: name;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 16px;
      }

      .user-item-description {
        grid-area: desc;
      }

      .user-item-price {
        grid-area: price;
        text-align: right;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }

  a {
    display: inline-block;
  }
}

@media only screen and (min-width: 800px) {

  .user-nav-menu {
    overflow-x: visible;
    white-space: normal;
    -webkit-overflow-scrolling: auto;
    padding: 5px 0px;
    display: flex;
    justify-content: space-around;

    span {
      margin: 0px 0px;
    }
  }
}
