@use '../base';

$base-color: base.$base-color;

body {
  background-color: $base-color;
  width: 100%;
  align-content: center;
}

.user-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  font-size: 24px;
  background-color: #ffffff;

  .user-navbar {
    a {
      font-size: 40px;
      margin-right: 10px;
    }
    span {
      margin-right: 20px;
    }
  }

  .user-access {
    display: block;
    span {
      margin-right: 20px;
    }
    .user-login, .user-signup :hover {
      opacity: 1;
    }
  }
  .user-logged {
    display: none;
  }
}

.user-photoheader {
  
  margin: 0 auto;
  // display: lex;
  // justify-content: center;
  img {
    width: 100%;
  }

}

.user-login-form, .user-signup-form {
  display: none;
  position: fixed;
  margin: 0 auto;
  padding: 5% 7%;
  top:30%;
  left: 50%;
  background-color: #ffffff;  
  z-index: 9;

  input, button {
    display: block;
    width: 250px;
  }
}

//unhide forms

.visible {
  display: block;
}
