.user-nav-menu {
  position: fixed;
  display: grid;
}
.user-menu {
  background-color: #63422E;
  padding: 15px;
  width: 80%;
  margin: auto;
  // Grid to properly space out menu items.
  .user-menu-table .user-item {
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas: "category"
                         "item";
    margin: 10px 0px;
    justify-content: space-between;

    .user-menu-category {
      grid-area: category;
    }

    .item-card {

      display: grid;
      grid-area: item;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-areas: "name description price add";

      .user-item-name {
        grid-area: name;
      }

      .user-item-description {
        grid-area: description;
      }

      .user-item-price {
        grid-area: price;
        text-align: center;
      }

      .user-item-add {
        grid-area: add;
      }
    }
  }
  a {
    display: inline-block;
  }
}
.user-item-add, .user-item-remove{
  margin: 5px;
  width: 15px;
  height: 15px;
}
