$font-heading: Bebas Neue, cursive;
$font-body: Abel, sans-serif;
$nav-color: #545e56;
$form-color: #eae1df;
$order-color: #917c78;
$base-color: #c6538c;

$c1: #667761;
$c2: #545E56;
$c3: #917C78;
$c4: #B79492;
$c5: #EAE1DF;

$header-bg: #21313f;

$background: #1b2126;
$background-secondary: #21313f;
$cat-background: rgba(33,49,63,.85);

$card-bg: #2c3f51;
$card-shadow: rgba(0,0,0,.2);
$card-shadow-inverse: rgba(121, 142, 158, 0.062);
$card-hover: rgba(4,129,158,.6);

$text-primary: rgba(227,251,255,.75);
$text-secondary: rgba(227,251,255,.6);

$blue: #04819e;
$lt-blue: #00e5ff;
$glow-blue: #00e5ff57;