$font-heading: Bebas Neue, cursive;
$font-body: Abel, sans-serif;
$nav-color: #545e56;
$form-color: #eae1df;
$order-color: #917c78;
$base-color: #c6538c;
<<<<<<< HEAD
=======

$c1: #667761;
$c2: #545E56;
$c3: #917C78;
$c4: #B79492;
$c5: #EAE1DF;
>>>>>>> 682deb5760b509960f0d5b6ec8d762309b5c8c2e
